<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hello World</title>
    <script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>
  <body>
    <div id="app">
      <el-form
        :model="ruleForm"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
        size="medium"
      >
        <div v-for="(item, index) in ruleForm.contactList" :key="index">
          <el-form-item
            label="真实姓名"
            :prop="'contactList.' + index + '.realName'"
            :rules="item.rules[0]"
          >
            <el-input
              style="width: 300px"
              v-model="item.realName"
              placeholder="请输入真实姓名"
            ></el-input>
          </el-form-item>
          <el-form-item
            label="手机号码"
            :prop="'contactList.' + index + '.phoneNumber'"
            :rules="item.rules[1]"
          >
            <el-input
              style="width: 300px"
              v-model="item.phoneNumber"
              placeholder="请输入手机号码"
            >
            </el-input>
          </el-form-item>
        </div>
        <el-form-item style="float: right">
          <el-button type="primary" size="small" @click="addContact"
            >添加联系人</el-button
          >
          <el-button
            style="margin-bottom: 50px"
            type="danger"
            size="small"
            @click="deleteContact"
            >删除联系人</el-button
          >
          <br />
          <el-button type="primary" @click="submitForm('ruleForm')"
            >提交表单</el-button
          >
          <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <script>
      //base 校验, 不可为空, 传入字段名称即可
      function baseValidation(col) {
        return [{ required: true, message: col + '不可为空', trigger: 'blur' }];
      }

      //是否为手机号校验
      function validatePhone(rule, value, callback) {
        const reg = /^[1][3,4,5,7,8][0-9]{9}$/;
        if (value === '' || value === undefined || value == null) {
          callback();
        } else {
          if (!reg.test(value) && value !== '') {
            callback(new Error('请输入正确的电话号码'));
          } else {
            callback();
          }
        }
      }
      new Vue({
        el: '#app',
        data: {
          ruleForm: {
            contactList: [],
          },
          rules: {},
        },
        created() {
          this.addContact();
        },
        methods: {
          submitForm(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this.ruleForm.contactList = this.ruleForm.contactList.map(
                  (item) => {
                    delete item.rules;
                    return item;
                  }
                );
                console.log(this.ruleForm.contactList);
                alert('提交成功');
                this.resetForm();
              } else {
                alert('提交失败');
                return false;
              }
            });
          },
          resetForm() {
            this.ruleForm.contactList = [
              {
                realName: '',
                phoneNumber: '',
                rules: [
                  baseValidation('真实姓名'),
                  [{ validator: validatePhone }].concat(
                    baseValidation('手机号')
                  ),
                ],
              },
            ];
          },
          //添加联系人
          addContact() {
            this.ruleForm.contactList.push({
              realName: '',
              phoneNumber: '',
              rules: [
                baseValidation('真实姓名'),
                [{ validator: validatePhone }].concat(baseValidation('手机号')),
              ],
            });
          },
          //删除联系人
          deleteContact() {
            this.ruleForm.contactList.splice(
              this.ruleForm.contactList.length - 1,
              1
            );
          },
        },
      });
    </script>
  </body>
</html>

<style>
  body {
    width: 400px;
  }
</style>
